<p *ngFor="let d of dice">
    <img *ngIf="d=='c' || d=='1'" src="assets/img/xwing-dice/crit.png" height="60" width="70" >
    <img *ngIf="d=='h' || d=='2'" src="assets/img/xwing-dice/hit.png" height="60" width="70" >
    <img *ngIf="d=='f' || d=='3'" src="assets/img/xwing-dice/afocus.png" height="60" width="70" >
    <img *ngIf="d=='m' || d=='4'" src="assets/img/xwing-dice/ablank.png" height="60" width="70" >
    <img *ngIf="d=='d' || d=='7'" src="assets/img/xwing-dice/evade.png" height="60" width="70" >
    <img *ngIf="d=='e' || d=='8'" src="assets/img/xwing-dice/dfocus.png" height="60" width="70" >
    <img *ngIf="d=='b' || d=='9'" src="assets/img/xwing-dice/dblank.png" height="60" width="70" >
</p>           