<app-navbar></app-navbar>
<div class="container">
  <div class="jumbotron text-center mt-3">
    <h2 class="mb-3">Video Guide</h2>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W8YKSlPnuQc" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <h5 class="my-3">Questions, suggestions or bugs?</h5>
      <p>Contact <a href="mailto:admin@tabletop.to">admin@tabletop.to</a></p>
      <h5 class="my-3">Looking for online tournament management?</h5>
      <p>Visit <a href="https://tabletop.to">tabletop.to</a></p>
      <h5 class="my-3">Privacy Policy</h5>
      <p>Visit <a href="https://tabletop.to/privacy">tabletop.to/privacy</a></p>
    </div>

    <div class="col-xs-12 col-lg-6">
      <h5 class="my-3">The TTT Stream App is built with:</h5>
      <div class="list-group">
        <div class="list-group-item flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Angular</h5>
          </div>
          <a href="https://angular.io" class="mb-1">angular.io</a>
        </div>
        <div class="list-group-item flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Firebase</h5>
          </div>
          <a href="https://firebase.google.com" class="mb-1">firebase.google.com</a>
        </div>
        <div class="list-group-item flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Bootstrap</h5>
          </div>
          <a href="https://getbootstrap.com" class="mb-1">getbootstrap.com</a>
        </div>
        <div class="list-group-item flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">X-Wing Miniatures Font</h5>
          </div>
          <a href="https://github.com/geordanr/xwing-miniatures-font" class="mb-1">github.com/geordanr/xwing-miniatures-font</a>
        </div>
        <div class="list-group-item flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">X-Wing Data 2</h5>
          </div>
          <a href="https://github.com/guidokessels/xwing-data2" class="mb-1">github.com/guidokessels/xwing-data2</a>
        </div>
        <div class="list-group-item flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">X-Wing Squadron Specification</h5>
          </div>
          <a href="https://github.com/elistevens/xws-spec" class="mb-1">github.com/elistevens/xws-spec</a>
        </div>
      </div>
    </div>
  </div>
</div>
